<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-header">
            <h1>Welcome, <span th:text="${#authentication.name}"></span>!</h1>
            <h1>Tasks (<span th:text="${taskCount}">Tasks count</span>)</h1>
        </div>
        <div>
            <a th:href="@{/admin/tasks}" id="list-tasks-link">All Tasks</a>
        </div>
    </div>
</body>
</html>