.login-page,
.registration-page,
.create-task-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container, 
.registration-container,
.create-task-container {
    border: 1px solid black;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 10px 10px 10px black;
}

.login-form,
.registration-form,
.create-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}