* {
    box-sizing: border-box;
}

#home-link,
#create-task-link,
#view-link,
#back-link,
#edit-link {
    text-decoration-line: none;
}

#create-task-link {
    color: white;
    background-color: #3498DB;
    padding: 10px;
    border-radius: 12px;
}

#view-link,
#back-link,
#edit-link {
    color: white;
    background-color: #3498DB;
    padding: 5px;
    border-radius: 12px;
}

#delete-button {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 12px;
}

#project-name,
#welcome-user,
#home-link {
    color: white;
}

#logout-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.login-page,
.registration-page,
.task-form-page,
.view-task-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-page {
}

.login-container, 
.registration-container,
.task-form-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 10px 10px 10px black;
}

.login-form,
.registration-form,
.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 10px;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.task-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    padding: 20px;
    gap: 25px;
}

.task-card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.task-card-content p {
    font-size: smaller;
}

.task-card-content p:first-of-type {
    line-height: 1.4;
    min-height: calc(1.4em * 2);
}

.view-task-card {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-buttons-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}