* {
    box-sizing: border-box;
}

#home-link,
#create-task-link {
    text-decoration-line: none;
}

#create-task-link {
    color: white;
    background-color: #3498DB;
    padding: 10px;
    border-radius: 12px;
}

#project-name,
#welcome-user,
#home-link {
    color: white;
}

#logout-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.login-page,
.registration-page,
.create-task-page,
.view-task-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-page {
}

.login-container, 
.registration-container,
.create-task-container {
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 10px 10px 10px black;
}

.login-form,
.registration-form,
.create-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 10px;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.task-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.task-card {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
}

.view-task-card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
}

.task-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}