<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Completed Task</title>
</head>
<body>
<div class="header">
    <h1>Task Manager</h1>
    <p>Welcome, <span>User</span></p>
</div>
<div class="content">
    <div class="sidebar">
        <a th:href="@{/dashboard}">Dashboard</a>
        <a th:href="@{/dashboard/completed-tasks}">Completed Tasks</a>
        <a th:href="@{/dashboard/create-task}">Create Task</a>
    </div>
    <div class="project-board" th:each="task : ${allCompletedTasks}">
        <h2>Completed Tasks</h2>
        <div class="task-card">
            <h3 th:text="${task.title}">Task title</h3>
            <p th:text="${task.description}">Task description</p>
            <p>Priority: <span th:text="${task.priority}">Task priority</span></p>
            <p>Due: <span th:text="${#temporals.format(task.dueDate, 'yyyy-MM-dd HH:mm')}">Task due date (yyyy-MM-dd HH:mm)</span></p>
            <p>Status: <span th:text="${task.isComplete} ? 'Completed' : 'Incomplete'">Task status</span></p>
        </div>
    </div>
</div>
</body>
</html>