<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="top-page">
        <h1>Task Manager</h1>
        <p>Welcome, <span>User</span></p>
    </div>
    <div class="content">
        <div class="sidebar">
            <a href="#">Dashboard</a>
            <a href="#">Completed</a>
            <a href="#">Pending</a>
            <a th:href="@{/dashboard/new}">Create Task</a>
        </div>
        <div class="project-board">

        </div>
    </div>
</body>
</html>