<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard-header">
        <h1>Task Manager</h1>
        <p>Welcome, <span>User</span></p>
    </div>
    <div class="dashboard-content">
        <div class="dashboard-sidebar">
            <a th:href="@{/dashboard}">Dashboard</a>
            <a href="#">Completed</a>
            <a th:href="@{/dashboard/create-task}">Create Task</a>
        </div>
        <div class="project-board">
            
        </div>
    </div>
</body>
</html>