<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
    <div class="home-page">
        <div class="navbar">
            <div class="navbar-header">
                <h1>Task Manager</h1>
            </div>
            <div class="navbar-content">
                <p>Hi,
                    <span th:text="${user.username}">Username</span>
                </p>
                <a th:href="@{/home}">Home</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <h2>Tasks (<span th:text="${tasksCount}">Task count</span>)</h2>
            </div>
            <div class="content-container">
                <form method="get" th:action="@{/home}">
                    <label for="priority">Priority:
                        <select id="priority" name="priority">
                            <option value=""></option>
                            <option value="LOW" th:selected="${selectedPriority == 'LOW'}">LOW</option>
                            <option value="MEDIUM" th:selected="${selectedPriority == 'MEDIUM'}">MEDIUM</option>
                            <option value="HIGH" th:selected="${selectedPriority == 'HIGH'}">HIGH</option>
                        </select>
                    </label>
                    <label for="status">Status:
                        <select id="status" name="status">
                            <option value=""></option>
                            <option value="TODO" th:selected="${selectedStatus == 'TODO'}">TODO</option>
                            <option value="IN_PROGRESS" th:selected="${selectedStatus == 'IN_PROGRESS'}">IN_PROGRESS</option>
                            <option value="DONE" th:selected="${selectedStatus == 'DONE'}">DONE</option>
                        </select>
                    </label>

                    <button type="submit">Filter</button>
                </form>
                <a th:href="@{/home/create-task}">Create Task</a>
            </div>
            <div class="task-container">
                <div class="task-card" th:each="task : ${allTasks}">
                    <h3 th:text="${task.title}">Task title</h3>
                    <p th:text="${task.description}">Task description</p>
                    <p>Priority: <span th:text="${task.priority}">Task priority</span></p>
                    <p>Due: <span th:text="${#temporals.format(task.dueDate, 'yyyy-MM-dd HH:mm')}">Task due date (yyyy-MM-dd HH:mm)</span></p>
                    <p>Status: <span th:text="${task.status}">Task status</span></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>