<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
    <p class="message success" th:if="${successMessage}" th:text="${successMessage}">Success message</p>
    <p class="message error" th:if="${errorMessage}" th:text="${errorMessage}">Error message</p>
    <div class="home-page">
        <div class="navbar">
            <div class="navbar-header">
                <h1 id="project-name">Task Manager</h1>
            </div>
            <div class="navbar-content">
                <p id="welcome-user">Hi,
                    <span th:text="${#authentication.name}">Username</span>
                </p>
                <p id="user-role" style="color: white">(
                    <span th:text="${#authentication.authorities[0]}" style="color: white">Username</span>
                    )
                </p>
                <a th:href="@{/home}" id="home-link">Home</a>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" id="logout-button">Logout</button>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <h2>Tasks (<span th:text="${tasksCount}">Task count</span>)</h2>
            </div>
            <div class="content-container">
                <form method="get" th:action="@{/home}">
                    <label for="priority">Priority:
                        <select id="priority" name="priority">
                            <option value=""></option>
                            <option value="LOW" th:selected="${selectedPriority == 'LOW'}">LOW</option>
                            <option value="MEDIUM" th:selected="${selectedPriority == 'MEDIUM'}">MEDIUM</option>
                            <option value="HIGH" th:selected="${selectedPriority == 'HIGH'}">HIGH</option>
                        </select>
                    </label>
                    <label for="status">Status:
                        <select id="status" name="status">
                            <option value=""></option>
                            <option value="TODO" th:selected="${selectedStatus == 'TODO'}">TODO</option>
                            <option value="IN_PROGRESS" th:selected="${selectedStatus == 'IN_PROGRESS'}">IN_PROGRESS</option>
                            <option value="DONE" th:selected="${selectedStatus == 'DONE'}">DONE</option>
                        </select>
                    </label>
                    <label for="sortBy">Sort by:
                        <select id="sortBy" name="sortBy">
                            <option value=""></option>
                            <option value="dueDateAsc" th:selected="${selectedSortBy == 'dueDateAsc'}">Due Date ↑</option>
                            <option value="dueDateDesc" th:selected="${selectedSortBy == 'dueDateDesc'}">Due Date ↓</option>
                        </select>
                    </label>

                    <button type="submit">Filter</button>
                </form>
                <a th:href="@{/home/create-task}" id="create-task-link">Create Task</a>
            </div>
            <div class="task-container">
                <div class="task-card" th:each="task : ${allTasks}">
                    <div class="task-card-content">
                        <h3 th:text="${task.title}">Task title</h3>
                        <p th:text="${task.description}">Task description</p>
                        <p>Priority: <span th:text="${task.priority}">Task priority</span></p>
                        <p>Status: <span th:text="${task.status}">Task status</span></p>
                        <p>Due: <span th:text="${#temporals.format(task.dueDate, 'yyyy-MM-dd HH:mm')}">Task due date (yyyy-MM-dd HH:mm)</span></p>
                        <p th:if="${task.assignedUser != null}">
                            Assigned to:
                            <span th:text="${task.assignedUser.firstName}">First name</span>
                            <span th:text="${task.assignedUser.lastName}">Last name</span>
                        </p>
                        <p th:if="${task.assignedUser == null}">
                            Assigned to: Unassigned
                        </p>
                    </div>
                    <div class="task-card-bottom">
                        <a th:href="@{/home/task/{id}(id=${task.id})}" id="view-link">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>