<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${registration}" method="post">
        <input type="text" id="username" name="username" th:field="*{username}" placeholder="Username" required/>
        <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" required/>
        <button type="submit">Register</button>
    </form>
</body>
</html>